*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: #f6cfb8;
}
.pageContainer {
  display: flex;
  flex-direction: column;
}

.contentContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.homepageImage {
  width: 40%;
  aspect-ratio: 16/9;
  margin-top: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cameraBody {
  margin-left: 2rem;
  width: 70%;
  aspect-ratio: 16/9;
  border-radius: 1.2em;
  border: 2px solid black;
  position: relative;
  animation: appearCamera 0.5s linear 1s forwards;
}
@keyframes appearCamera {
  from {
    transform: skew(45deg, -45deg);
  }
  to {
    transform: skew(0deg, 0deg);
  }
}
.cameraBody::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 50%;
  top: 25%;
  left: 0%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  z-index: 0;
  background: lightpink;
}
.cameraLens {
  position: absolute;
  width: 50%;
  aspect-ratio: 1/1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 2px solid black;
  background: hotPink;
}
.cameraLens::before {
  position: absolute;
  content: "";
  width: 70%;
  aspect-ratio: 1/1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 2px solid black;
}
.cameraLens::after {
  position: absolute;
  content: "";
  width: 20%;
  aspect-ratio: 16/4;
  top: 30%;
  left: 20%;
  transform: translate(-10%, -50%);
  border-radius: 1em;
  border: 2px solid black;
  transform: rotateZ(-40deg) skew(-0.312rad);
  background: hotpink;
}
.cameraButton_1 {
  position: absolute;
  width: 15%;
  aspect-ratio: 2/1;
  top: 6%;
  left: 80%;
  border-radius: 1em;
  border: 2px solid black;
}

.cameraButton_1::before {
  position: absolute;
  content: "";
  width: 200%;
  aspect-ratio: 1/1;
  top: -100%;
  left: -100%;
  transform: translate(25%, -15%);
  border-radius: 50%;
  visibility: hidden;
  background: transparent;
  animation: flash 0.5s linear 2s forwards;
}

@keyframes flash {
  0% {
    visibility: visible;
    opacity: 1;
    background: hsl(0, 0%, 100%);
    box-shadow: 1em 1em 5em hsl(0, 0%, 100%);
  }
  50% {
    visibility: visible;
    opacity: 0.5;
    background: hsl(0, 0%, 100%);
    box-shadow: 1em 1em 5em hsl(0, 0%, 100%);
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.cameraButton_2 {
  position: absolute;
  width: 20%;
  aspect-ratio: 8/3;
  top: -13.5%;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid black;
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
}
.cameraButton_2::before {
  position: absolute;
  content: "";
  width: 70%;
  aspect-ratio: 8/3;
  top: 11%;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid black;
  border-radius: 0.5em;
}

.cameraButton_3 {
  position: absolute;
  width: 15%;
  aspect-ratio: 4/1;
  top: -6.7%;
  left: 5%;
  border: 2px solid black;
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
}
.cameraEffect {
  position: absolute;
  width: 30%;
  aspect-ratio: 3.5/4;
  bottom: -30%;
  right: -20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transform: rotateZ(35deg);
  background: transparent;
}

.cameraFlash {
  width: 20%;
  height: 0;
  border: 1px solid black;
  background: black;
  animation: flashScale 0.5s linear 1s;
}
.flash_1 {
  transform: rotateZ(-35deg);
}
.flash_2 {
  transform: rotateZ(-15deg);
}
.flash_3 {
  transform: rotateZ(15deg);
}
.flash_4 {
  transform: rotateZ(40deg);
}
@keyframes flashScale {
  from {
    transform: scale(1.5);
  }
  to {
    transform: scale(1);
  }
}

.homepageTitle {
  margin-top: 5rem;
  margin-left: 1rem;
}
.homepageTitle h1:last-child {
  background-color: lightpink;
  color: lightpink;
}
.homepageTitle h1 {
  font-weight: 900;
  font-size: calc(1.2rem + 2vw);
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 1em 0;
  border-top: 2px solid black;
  line-height: 1.5em;
  text-align: center;
  font-style: italic;
}
