* {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

body {
  background: #f6cfb8;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  position: relative;
}

section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: center;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchContainer > h1 {
  padding: 1em 0;
  font-size: 1.2rem;
}
.searchBar {
  height: 3em;
  width: 60%;
  position: relative;
}

.searchBar > input {
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 0.5em;
  box-shadow: 0 0 0.7em rgba(33, 33, 33, 0.2);
  background-color: white;
}

.searchBarWrapper {
  position: absolute;
  background-color: white;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  margin: 1px;
  justify-content: space-between;
  align-items: center;
  border-radius: 2em;
}

.keywordDeleteButton {
  visibility: hidden;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: 900;
}

.searchContainer button:hover,
.popupCloseButton:hover,
.keywordDeleteButton:hover {
  /* transform: scale(1.2); */
  /* box-shadow: 0.3em 0.3em 1.5em rgb(181, 180, 180); */
  /* box-shadow: 0 0 0.7em rgba(33, 33, 33, 0.2); */
  background-color: rgb(234, 234, 234);
}

.searchButton {
  height: 3em;
  padding: 0 0.5em;
  border-radius: 2em;
  margin: 0 0.5em;
  border: none;
  background: transparent;
  cursor: pointer;
  background-color: white;
}

.searchButton .material-symbols-outlined {
  background-color: white;
}

.noticeInvalidInfo {
  visibility: hidden;
  color: red;
  margin-top: 0.5em;
}

.displayContainer {
  width: 100%;
  height: 100%;
  padding: 1em;
}

.displayImages {
  display: inline-block;
  columns: 4;
  gap: 1em;
  width: 100%;
}
.eachImage {
  position: relative;
}

.eachImage img {
  width: 100%;
}

.eachImage .imageInformation {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgb(250, 249, 249);
  opacity: 0;
  transition: opacity 0.5s, border-top 0.1s, border-right 0.1s 0.2s,
    border-bottom 0.2s 0.3s, border-left 0.3s 0.3s;
}
.eachImage .imageInformation:hover {
  opacity: 0.7;
  cursor: zoom-in;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}

/* responsive size of image */
/* @media query */
/* history API */
