* {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

body {
  background: #f6cfb8;
}

.pageContainer {
  width: 100vw;
  height: 100;
  display: flex;
  flex-direction: column;
  position: relative;
}

section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: center;
  /* background-color: lightcyan; */
}

/* .searchContainer {
  background-color: lightgoldenrodyellow;
} */

.searchContainer h1 {
  /* padding: 0.5em; */
  padding: 1em 0;
  font-size: 2rem;
}

.searchContainer input {
  /* border: none; */
  height: 2em;
  padding: 0 1em;
  /* box-shadow: 1em 1em 0.5em rgb(181, 180, 180), -1em -1em 1em rgb(181, 180, 180); */
}
.searchContainer input:hover,
.searchContainer button:hover {
  box-shadow: 0 0 0.7em rgba(33, 33, 33, 0.2);
}

.searchContainer button {
  /* border: none; */
  height: 2em;
  padding: 0 1em;
  background: lightgray;
  cursor: pointer;
  /* box-shadow: 1em 1em 0.5em rgb(181, 180, 180), -1em -1em 1em rgb(181, 180, 180); */
}

.displayContainer {
  width: 100%;
  height: 100%;
}

.displayImages {
  display: inline-block;
  columns: 4;
  gap: 1em;
  padding: 1em;
  width: 100%;
}
.eachImage {
  position: relative;
  /* margin: 1em; */
}

.eachImage img {
  width: 100%;
}

.eachImage .imageInformation {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgb(250, 249, 249);
  opacity: 0;
  transition: opacity 0.5s, border-top 0.1s, border-right 0.1s 0.2s,
    border-bottom 0.2s 0.3s, border-left 0.3s 0.3s;
}
.eachImage .imageInformation:hover {
  opacity: 0.7;
  cursor: zoom-in;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}
.popupContainer {
  position: fixed;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f4ad84;
  box-shadow: 1em 1em 1em rgb(192, 191, 191);
  visibility: hidden;
  /* display: none; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  justify-content: center;
  align-items: center;
}

.popupContainer > .popupImage {
  /* background-color: lightgreen; */
  width: 100%;
  height: 70%;
  position: relative;
}
.popupContainer > .popupImage > a {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
  cursor: pointer;
}

.popupContainer > .popupImageInfo {
  position: relative;
  /* background-color: lightpink; */
  width: 100%;
  height: 30%;
  border-top: 1px solid black;
}
.popupContainer > .popupImageInfo > div {
  position: absolute;
  top: 20%;
  left: 20%;
  transform: translate(-20%, -20%);
  line-height: 1.5em;
  /* font-size: 1.2rem; */
}
.popupContainer > .popupImageInfo > div > div {
  text-align: left;
}

.popupContainer > .popupImageInfo > div > div:last-child {
  /* position: absolute; */
  /* text-align: right; */
  font-size: 0.7rem;
  font-style: italic;
}

.popupClose {
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  top: 0;
  right: 0;
}
.popupCloseButton {
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
}

.footerContainer {
}

/* responsive size of image */
/* @media query */
/* history API */
